<!DOCTYPE html>
{{ if eq .Site.Params.colorScheme "dark" }}
  <html data-color-scheme="dark">
{{ else if eq .Site.Params.colorScheme "auto" }}
  <html data-color-scheme="auto">
{{ else }}
  <html data-color-scheme="light">
{{ end }}
  {{- partial "head.html" . -}}
  <body>
    <header>
      {{- partial "header.html" . -}}
    </header>
    <main>
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
    {{ $js := resources.Get "js/rocinante.js" | resources.Minify }}
    <script>
      const emailId = atob({{.Param "specialEmail" | base64Encode}});
    </script>
    {{- if isset .Site.Params "specialemail" }}
      <script src="{{ $js.RelPermalink }}"></script>
    {{- end -}}
  </body>
</html>
